celery==5.2.7
Django==3.2.15
django-celery-beat==2.3.0
django-celery-results==2.4.0
django-extensions==3.2.1
django-filter==22.1
django-timezone-field==5.0
djangorestframework==3.13.1
python-dotenv==0.21.0
redis==4.3.4
requests==2.28.1
